$link-color: #030000;
$link-decoration: none;
$link-hover-color: lighten($link-color, 25%);
$link-hover-decoration: none;

$nav-tabs-link-active-color: #df5c3c;
// $nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-tabs-border-radius: 0;

$card-border-radius: 1em;

$modal-backdrop-bg: black;
$modal-backdrop-opacity: 0.2;
